
<% include ../partials/header %>
<% include ../partials/dashboard %>
            
            
									
            <div class="welcome">
            <% include ../partials/flash %>
            </div>
            <div class="m-content">
                <div class="row justify-content-center">
                    
                <div class="col-md-12">
              <!--begin::Portlet-->
                        <div class="m-portlet m-portlet--tab">
                       
                        <div class="m-portlet__head">
                            <div class="m-portlet__head-caption">
                                <div class="m-portlet__head-title">
                                    <h3 class="m-portlet__head-text">
                                    All Members
                                    </h3>
                                    
                                </div>

                            </div>
                        </div>
                        <div class="m-portlet__body">
                            <!--begin::Section-->
                            <div class="m-section">
                                <div class="m-section__content">
                                
                                <a href="/members/new" class="btn btn-primary float-right">Add a new member</a>
                                    <table class="table table-striped m-table  table-responsive">
                                        <thead>
                                            <tr>
                                                <th> # </th>
                                                <th>Full Name</th>
                                                <th> Date Joined </th>
                                                <th> Address</th>
                                                <th>Action</th>
                                            </tr>


                                        </thead>


                                        <tbody> 
                                        
                                        <% members.forEach(function(member){%>
                                        <tr>  
             <th scope="row" ><span class="bg-primary text-white round text-center"></span><%=member.firstName%></th>
                                                <td><%= member.firstName + " " + member.lastName%></td>
                                                <td><%= member.dateJoined.toDateString()%> </td>
                                                <td><%= member.address%></td>
                                                <td> <a href="/members/<%=member._id%>">more info</a> </td>
                                            </tr>
                                            <%});%>  

                                        
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!--end::Section-->
                        </div>
                        <!--end::Form-->
                    </div>
                    <!--end::Portlet-->

        </div>
    </div>
</div>
        </div>
    </div>
    <!-- end:: Body -->



    <% include ../partials/copyright %>
<% include ../partials/footer %>